@model IEnumerable<Student>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Şagird nömrəsi</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Sinif</th>
            <th>Əməliyyatlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.StudentNumber</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Grade</td>
                <td>
                    <a href="#" class="btn btn-sm btn-primary edit-student" data-id="@student.StudentNumber">Redaktə</a>
                    <a href="#" class="btn btn-sm btn-danger delete-student" data-id="@student.StudentNumber">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
